# Flask Configuration
FLASK_ENV=production
DEBUG=false
FLASK_APP=app.main

# Server Configuration
LOG_MONITOR_SERVER_IPADDRESS=0.0.0.0
LOG_MONITOR_SERVER_PORT=9094

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=kafka:29092

# Service Configuration
SERVICE_NAME=logmonitor
HOSTNAME=logmonitor-service

